<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <script th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/AmazeUI-2.4.2/assets/css/amazeui.css}"/>
    <link th:href="@{/resources/css/dlstyle.css}" rel="stylesheet" type="text/css">
</head>

<body>

<!--logo-->
<div class="login-boxtitle" style="padding-top: 10px">
    <a href="home.html"><img alt="logo" th:src="@{/resources/images/logobig.png}"/></a>
</div>

<!--登录界面-->
<div class="login-banner">
    <div class="login-main">
        <div class="login-banner-bg" style="margin-top:90px;"><span></span><img th:src="@{/resources/images/big.jpg}"/></div>
        <div class="login-box" style="margin-top: 100px;right: 0%">

            <h3 class="title" style="margin-top: 40px">登录商城</h3>

            <form>
                <div class="user-name">
                    <label for="userName"><i class="am-icon-user"></i></label>
                    <input type="text" name="userName" id="userName" placeholder="用户名"
                           autocomplete="off"/>
                </div>
                <div class="user-pass">
                    <label for="password"><i class="am-icon-lock"></i></label>
                    <input type="password" name="password" id="password" placeholder="请输入密码"/>
                </div>
            </form>

            <div class="am-cf">
                <input type="button" onclick="loginVerify()" name="login" value="登 录"
                       class="am-btn am-btn-primary am-btn-sm"/>
            </div>

            <div class="login-links">
                <a th:href="@{register}" class="am-fl">免费注册</a>
                <div id="msg" style="text-align: center;font-size: 15px;color: red;float:left;width: 208px;">&nbsp;</div>
                <a href="#" class="am-fr">忘记密码</a>
                <br/>
            </div>
        </div>
    </div>
</div>

<!--页脚-->
<div class="footer ">
    <div class="footer-hd ">
        <p style="text-align: center">
            <a th:href="@{home}">商城首页</a>
            <b>|</b>
            <a href="https://www.alipay.com">支付宝</a>
            <b>|</b>
            <a href="">联系我们</a>
        </p>
    </div>
    <div class="footer-bd ">
        <p style="text-align: center">
            <em>© 2019 jzxaqj.xyz 版权所有</em>
        </p>
    </div>
</div>

<!--javascript代码-->
<script>
    function loginVerify() {
        var msg = $("#msg");
        var userName = $("#userName").val();
        var password = $("#password").val();
        var contextPath = "[[${#httpServletRequest.getContextPath()}]]";

        if (userName == null || userName == undefined || userName == "") {
            msg.text("请输入用户名");
            return;
        }
        if (password == null || password == undefined || password == "") {
            msg.text("请输入密码");
            return;
        }
        $.ajax({
            url:contextPath+"/user/login_verify",
            data:{userName:userName,password:password},
            dataType:'json',
            type:'post',
            success:function (data) {
                if (data.type == 'success'){
                    msg.text(data.msg);
                    window.location = "home";
                }else {
                    msg.text(data.msg);
                }
            }
        })
    }
</script>
</body>

</html>